footer{
  background-color: #eee;
}
footer .fnb{
  
}
footer .fnb{
  
  width: auto;
}
footer .fnb li{
  
  padding: 0;
  width: auto;
}
footer .fnb li a{
  
  font-size: 12px;
  padding: 5px 10px;
}
footer .up{
  margin-bottom: 50px;
}
footer .up>div h1,footer .up>div h2,footer .up>ul li h2{
  margin-top: 0;
  line-height: 1;
}
footer .down select{
  float: right;
}
@media screen and (min-width:992px) and (max-width:1199px){
  footer .wrap{
    padding: 0 15px;
  }
  .up .right li{
    position: relative;
  }
  .up .right a{
    position: absolute;
    top:8px;
    right: 30px;
    font-size: 11px;
  }
}