@media screen and (max-width:768px){
  .navbar-collapse.collapse{
    display: none !important;
  }
  .navbar-toggle{
    display: block;
  }
  header .navbar-header{
    position: relative;
  }
  header .navbar-header{
    display: block;
  }
  header .container {
  position: relative;
  padding-top: 30px;
}
  header .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-top: auto;
  margin-bottom: auto;
}
  .navbar-default .navbar-brand a {
  font-size: 30px;
  font-weight: bold;
}
  .container {
  max-width: 750px;
  }
  .navbar-default {
  background-image:none;
  box-shadow: none;
  background-color: transparent;
  border: navajowhite;
  }
  .navbar-header {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left:auto;
}
/*  타이틀  */
  #title .container{
    padding: 0 40px;
  }
  #title .wrap{
   
  }  
  #title .tslist{
    padding-left: 0px;
  } 
  #title .wtleft{
    position: relative;
    height: 200px;
  }
  #title .wtleft .count{
    transform: translateX(60px) translateY(5px) scale(1);
    /*! text-align: center; */
  }
  #title .wtleft .tleft{
    padding-top: 20px;
  }
  
  button.slick-arrow.slick-prev{
    left: 0px;
  }
  button.slick-arrow.slick-next{
    right: 0px;
  }
 
}
@media screen and (max-width:1200px){
  #youtube iframe{
    height: 56.23931623931624vw;
  }
  header .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding-top: 3px;
  }
  header .navbar-collapse.collapse{
  margin-top: -10px;
  margin-bottom: 12px;
  display: flex !important;
  justify-content: center;
  }
  #title .container{
   position: relative;
   padding-left: 34%;
  }
  #title .tslist{
  padding-left: 0;
  }
  #title .wtleft .tleft h2{
    font-size: 2.6vw;
  }
  .padding-100{
    padding: 6.333vw 0;
  }
}